table{
    background-color:whitesmoke;
    
}
#thead{
    background-color: blue;
}
#ro{
    background-color: aliceblue;
}
#dlt{
    background-color:chartreuse;
}
#upd{
    background-color: cornflowerblue;
}